.opacity{
    filter: brightness(50%);
}
.height-sm{
    min-height: 320px;
}
.icon:hover{
    background-color: white !important;
    color: black !important;
}
.menu-hover:hover{
    border-bottom: 1px solid black;
    border-bottom-style: dotted;
}